/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    p {
        a {
            img {
                display: inline-block;
                text-align: center;
                height: auto;
                line-height: 1.42857;
                background-color: #FFF;
                border: 1px solid #DDD;

                @include min-media-query($on-laptop) {
                  padding: 4px;
                  border-radius: 4px;
                  max-width: 400px;
                }
            }
        }
    }
}
